.enrollbox {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px 20px;
  }
  
  .a {
   
    padding: 40px;
    background:transparent;
    border-radius: 16px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
    max-width: 510px;
    width: 100%;
    transition: all 0.3s ease;
  }
  
  .a:hover {
    transform: scale(1.02);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
  }
  
  .enroll {
    font-family: 'Roboto', sans-serif;
    margin-bottom: 40px;
    font-size: 28px;
    color: #2c3350;
    font-weight: 600;
    text-align: center;
  }
  
  .enrollform {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap:20px;
  }
  
  .enrollinput {
    width: 100%;
  }
  
  #ebutton {
    color: white;
    background-color: #3b0e76;
    border-radius: 5px;
    transition: 0.3s ease;
  }
  
  #ebutton:hover {
    background-color: #741a8f;
  }