#t{
    background: linear-gradient(to right, #000000, #3b0e76, #741a8f );
}

#nav-menu{
    background: linear-gradient(to right, #000000, #3b0e76, #741a8f );
    color: white;
}

#profile-menu{
    background: linear-gradient(to right, #000000, #3b0e76, #741a8f );
    color: white;
}
#ann{
    color:white
}